xsl/meiBasic.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:math="http://exslt.org/math">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Music Encoding Initiative Guidelines: <title type="sub">MEI Basic
            Customization</title></title>
        <respStmt>
          <resp>Authored by</resp>
          <name xml:id="PR">Perry Roland</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change n="1" when="2017-04-01" who="#PR">
        <desc>Creation of the initial ODD.</desc>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <!-- This file creates a subset of mei-all. -->
    <body>
      <schemaSpec ident="mei" ns="http://www.music-encoding.org/ns/mei" prefix="mei_" start="mei">

        <!-- Declare MEI and XLink namespaces for use in Schematron -->
        <constraintSpec ident="set_ns" scheme="isoschematron" mode="add">
          <constraint>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="mei"
              uri="http://www.music-encoding.org/ns/mei"/>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink"
              uri="http://www.w3.org/1999/xlink"/>
          </constraint>
        </constraintSpec>

        <!-- Disallow some modules -->
        <moduleRef key="MEI"/>
        <!--<moduleRef key="MEI.analytical"/>-->
        <moduleRef key="MEI.cmn"/>
        <moduleRef key="MEI.cmnOrnaments"/>
        <!--<moduleRef key="MEI.corpus"/>-->
        <!--<moduleRef key="MEI.critapp"/>-->
        <!--<moduleRef key="MEI.drama"/>-->
        <!--<moduleRef key="MEI.edittrans"/>-->
        <moduleRef key="MEI.externalsymbols"/>
        <!--<moduleRef key="MEI.facsimile"/>-->
        <!--<moduleRef key="MEI.figtable"/>-->
        <!--<moduleRef key="MEI.fingering"/>-->
        <!--<moduleRef key="MEI.frbr"/>-->
        <!--<moduleRef key="MEI.gestural"/>-->
        <!--<moduleRef key="MEI.harmony"/>-->
        <moduleRef key="MEI.header"/>
        <moduleRef key="MEI.lyrics"/>
        <!--<moduleRef key="MEI.mensural"/>-->
        <!--<moduleRef key="MEI.midi"/>-->
        <!--<moduleRef key="MEI.namesdates"/>-->
        <!--<moduleRef key="MEI.neumes"/>-->
        <!--<moduleRef key="MEI.performance"/>-->
        <moduleRef key="MEI.ptrref"/>
        <moduleRef key="MEI.shared"/>
        <!--<moduleRef key="MEI.tablature"/>-->
        <!--<moduleRef key="MEI.text"/>-->
        <!--<moduleRef key="MEI.usersymbols"/>-->
        <!--<moduleRef key="MEI.visual"/>-->

        <!-- Include SVG -->
        <!--<moduleRef url="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/svg11.rng"
          prefix="svg_">
          <content>
            <rng:define name="mei_model.graphicLike" combine="choice">
              <rng:ref name="svg_svg"/>
            </rng:define>
          </content>
        </moduleRef>-->

        <!-- ******************************************************************** -->
        <!-- CONFORMING CHANGES -->

        <!-- Disallow <annot> as a control event -->
        <classSpec ident="model.annotLike" module="MEI.shared" type="model" mode="replace">
          <desc>Groups annotation-like elements.</desc>
          <classes>
            <!--<memberOf key="model.controlEventLike"/>-->
            <memberOf key="model.textPhraseLike.limited"/>
          </classes>
        </classSpec>
        <!-- Disallow keySig as an event -->
        <classSpec ident="model.keySigLike" module="MEI.shared" type="model" mode="replace">
          <desc>Groups elements that have the same function as a key signature.</desc>
          <classes>
            <!--<memberOf key="model.eventLike"/>-->
            <memberOf key="model.staffDefPart"/>
          </classes>
        </classSpec>
        <!-- Disallow meterSig as an event -->
        <classSpec ident="model.meterSigLike" module="MEI.shared" type="model" mode="replace">
          <desc>Groups elements that represent a meter signature.</desc>
          <classes>
            <!--<memberOf key="model.eventLike"/>-->
            <memberOf key="model.staffDefPart"/>
          </classes>
        </classSpec>
        <!-- Disallow scoreDef as an event -->
        <classSpec ident="model.scoreDefLike" module="MEI.shared" type="model" mode="replace">
          <desc>Groups elements that provide score meta-information.</desc>
          <classes>
            <memberOf key="model.scorePart"/>
            <memberOf key="model.sectionPart"/>
            <!--<memberOf key="model.staffPart.mensuralAndNeumes"/>
            <memberOf key="model.layerPart.mensuralAndNeumes"/>-->
          </classes>
        </classSpec>

        <!-- Remove respStmt from model.respLike -->
        <elementSpec ident="respStmt" module="MEI.shared" mode="replace">
          <desc>(responsibility statement) – Names one or more individuals, groups, or in rare
            cases, mechanical processes, responsible for creation, realization, production, or
            distribution of the intellectual or artistic content, where the specialized elements for
            authors, editors, etc. do not suffice or do not apply.</desc>
          <classes>
            <memberOf key="att.common"/>
            <memberOf key="att.bibl"/>
            <memberOf key="att.facsimile"/>
            <memberOf key="model.pubStmtPart"/>
            <!--<memberOf key="model.respLike"/>-->
          </classes>
          <content>
            <rng:choice>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="name"/>
                  <rng:ref name="resp"/>
                  <rng:ref name="model.nameLike.agent"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:choice>
          </content>
          <constraintSpec ident="check_respStmt" scheme="isoschematron">
            <constraint>
              <sch:rule
                context="mei:*[local-name()='titleStmt' or local-name()='pubStmt' or 
                local-name()='seriesStmt']/mei:respStmt[mei:corpName or mei:name or mei:persName]">
                <sch:assert role="warning" test="mei:resp or (count(mei:*[@role]) = count(mei:*))"
                  >If at least one resp element isn't present, all name-like elements should have a
                  @role attribute.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <remarks>
            <p>This element is modelled on an element in the Text Encoding Initiative (TEI)
              standard.</p>
          </remarks>
        </elementSpec>

        <!-- Remove elements -->
        <elementSpec ident="ambitus" module="MEI.shared" mode="delete"/>
        <elementSpec ident="arpeg" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="barLine" module="MEI.shared" mode="delete"/>
        <elementSpec ident="beamSpan" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="beatRpt" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="bend" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="breath" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="bTrem" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="caesura" module="MEI.shared" mode="delete"/>
        <elementSpec ident="clefGrp" module="MEI.shared" mode="delete"/>
        <elementSpec ident="custos" module="MEI.shared" mode="delete"/>
        <elementSpec ident="div" module="MEI.shared" mode="delete"/>
        <elementSpec ident="gliss" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="grpSym" module="MEI.shared" mode="delete"/>
        <elementSpec ident="halfmRpt" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="harpPedal" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="ligatureSpan" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="lv" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="mRpt" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="mRpt2" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="multiRest" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="multiRpt" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="ornam" module="MEI.shared" mode="delete"/>
        <elementSpec ident="ossia" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="pad" module="MEI.shared" mode="delete"/>
        <elementSpec ident="part" module="MEI.shared" mode="delete"/>
        <elementSpec ident="parts" module="MEI.shared" mode="delete"/>
        <elementSpec ident="pedal" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="phrase" module="MEI.shared" mode="delete"/>
        <elementSpec ident="reh" module="MEI.cmn" mode="delete"/>
        <elementSpec ident="relation" module="MEI.shared" mode="delete"/>
        <elementSpec ident="relationList" module="MEI.shared" mode="delete"/>
        <elementSpec ident="tupletSpan" module="MEI.cmn" mode="delete"/>

        <!-- Restrict content of body -->
        <!-- Allow only a single mdiv -->
        <elementSpec ident="body" module="MEI.shared" mode="replace">
          <desc>Contains the whole of a single musical text, excluding any front or back
            matter.</desc>
          <classes>
            <memberOf key="att.common"/>
            <memberOf key="att.metadataPointing"/>
            <memberOf key="model.musicPart"/>
          </classes>
          <content>
            <!--<rng:oneOrMore>-->
            <rng:ref name="model.mdivLike"/>
            <!--</rng:oneOrMore>-->
          </content>
          <remarks>
            <p>When the music can be broken into high-level, discrete, linear segments, such as
              movements of a symphony, there may be multiple <gi scheme="MEI">mdiv</gi> elements
              within <gi scheme="MEI">body</gi>. This is the highest level indication of the
              structure of the music.</p>
          </remarks>
        </elementSpec>

        <!-- Disallow self-nesting of mdiv -->
        <elementSpec ident="mdiv" module="MEI.shared" mode="replace">
          <desc>(musical division) – Contains a subdivision of the body of a musical text.</desc>
          <classes>
            <memberOf key="att.common"/>
            <memberOf key="att.facsimile"/>
            <memberOf key="att.metadataPointing"/>
            <memberOf key="model.mdivLike"/>
          </classes>
          <content>
            <rng:choice>
              <rng:group>
                <rng:optional>
                  <rng:ref name="model.scoreLike"/>
                </rng:optional>
                <rng:optional>
                  <rng:ref name="model.partsLike"/>
                </rng:optional>
              </rng:group>
              <!--<rng:zeroOrMore>
                <rng:ref name="model.mdivLike"/>
              </rng:zeroOrMore>-->
            </rng:choice>
          </content>
          <remarks>
            <p>The <gi scheme="MEI">mdiv</gi> element may contain one or both of 2 possible views of
              the music. The score view is the traditional full and open score while the parts view
              contains each performer's view of the score; that is, his part. These 2 views are
              necessary because it is not always possible or desirable to generate one from the
              other. The <gi scheme="MEI">score</gi> and <gi scheme="MEI">parts</gi> elements are
              placed here and not directly within the <gi scheme="MEI">body</gi> element because
              score and part characteristics may change from <gi scheme="MEI">mdiv</gi> to <gi
                scheme="MEI">mdiv</gi>. For example, the 2nd movement of a symphony may require
              different performing forces (and therefore different score and part layout) than the
              other movements. The <gi scheme="MEI">mdiv</gi> element may be recursively nested in
              order to represent music which exhibits this kind of structure. For example, an opera
              is normally divided into acts, which are in turn divided into scenes.</p>
          </remarks>
        </elementSpec>

        <!-- Disable mensural- and neume-specific model classes in the shared module -->
        <classSpec ident="model.scorePart.mensuralAndNeumes" module="MEI.shared" type="model"
          mode="delete"/>
        <classSpec ident="model.sectionPart.mensuralAndNeumes" module="MEI.shared" type="model"
          mode="delete"/>
        <classSpec ident="model.staffPart.mensuralAndNeumes" module="MEI.shared" type="model"
          mode="delete"/>
        <classSpec ident="model.layerPart.mensuralAndNeumes" module="MEI.shared" type="model"
          mode="delete"/>


        <!-- ******************************************************************** -->
        <!-- NON-CONFORMING CHANGES -->


        <!-- ******************************************************************** -->
        <!-- CHANGES CARRIED OVER FROM latest_DEV.odd -->




      </schemaSpec>
    </body>
  </text>
</TEI>
